@model IEnumerable<travel.Models.bus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bus_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passangers_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bus_model)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bus_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passangers_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bus_model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bus_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.bus_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bus_id })
        </td>
    </tr>
}

</table>
